<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="org.ship.core.vo.engine.ConnRule" alias="ConnRule"/>
        <typeAlias type="org.ship.core.vo.engine.IpAddress" alias="IpAddress"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                     javaType="org.ship.core.vo.engine.RuleType"/>
    </typeHandlers>

    <mappers>
        <mapper class="org.ship.core.dao.user.UserDao"/>
        <mapper class="org.ship.core.dao.engine.IfaceDao"/>
        <mapper class="org.ship.core.dao.engine.IpAddrDao"/>
        <mapper class="org.ship.core.dao.engine.RouteDao"/>
        <mapper class="org.ship.core.dao.engine.DnsDao"/>
        <mapper class="org.ship.core.dao.sys.ManAddrDao"/>
        <mapper class="org.ship.core.dao.engine.ConnRuleDao"/>

        <mapper resource="mapper/conn-rule.xml"/>
    </mappers>

</configuration>
